* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

body {
  background-color: #1b1b1b;
}

.appContainer {
  text-align: center;
  margin-top: 2rem;
}

.appContainer h1 {
  font-size: 45px;
}

.appContainer .grid {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  gap: 1rem;
}

.appContainer .grid div {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.appContainer .grid div.complete span {
  animation: scale 1s ease 1;
}

@keyframes scale {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}

.appContainer .grid div span {
  background-color: rgb(85, 85, 85);
  display: flex;
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.appContainer .grid div span.yellow {
  background-color: darkgoldenrod;
}

.appContainer .grid div span.green {
  background-color: darkgreen;
}

.appContainer .grid div span.gray {
  background-color: gray;
}

.appContainer .keyboard {
  margin-top: 2rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.appContainer .keyboard div {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.appContainer .keyboard button {
  background-color: gray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem;
  font-size: 20px;
}
